@import "bootstrap/dist/css/bootstrap.min.css";
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css";

body{
    background: green;
    
}

.card { /* la carta  */

    background: white;
    margin-top: 2%;
    width: 300px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    position: relative;
   
}
#boton{
  margin-left: 50%;
  margin-top : 60px;
 
}

/*  los numeros de la carta */

#card-symbol {
    position: absolute;
    text-align: center;
    font: arial, serif;
    top: 170px;
    left: 130px;
    color:black ;
    font-size: 80px;

}

/* corazones  */
 .hearts:before {
    content: "♥";
    font-size: 90px;
    position: absolute;
    top: 8px;
    left: 20px;
    color: red;
  }

  .hearts:after {
    content: "♥";
    font-size: 90px;
    position: absolute;
    top: 360px;
    left: 220px;
    color: red;
    transform: rotate(180deg);
  }

/* diamantes  */
.diamonds:before {
    content: "♦";
    font-size: 90px;
    position: absolute;
    top: 8px;
    left: 20px;
    color: red;
  }

.diamonds:after {
    content: "♦";
    font-size: 90px;
    position: absolute;
    top: 360px;
    left: 220px;
    color: red;
    transform: rotate(180deg);
  }



/* espadas  */
.spades:before {
    content: "♠";
    font-size: 90px;
    position: absolute;
    top: 8px;
    left: 20px;
    color: black;
  }
  
.spades:after {
    content: "♠";
    font-size: 90px;
    position: absolute;
    top: 360px;
    left: 220px;
    color: black;
    transform: rotate(180deg);
  }
  
  /* trebol  */
.clubs:before {
    content: "♣";
    font-size: 90px;
    position: absolute;
    top: 8px;
    left: 20px;
    color: black;
  }
  
.clubs:after {
    content: "♣";
    font-size: 90px;
    position: absolute;
    top: 360px;
    left: 220px;
    color: black;
    transform: rotate(180deg);
  }